*{
    margin: none;
    padding: none;
}

body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #182343;
}

nav{
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #182343;
    color: white;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin: 0 23px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: #E34F4F;
}

.left{
    font-size: 1.5rem;
}

.info-box{

}

img{
    position: relative;
    height: 400px;
    left: 25%;
    top: 10rem;
}

.text{
    position: relative;
    font-size: 2rem;
    left: 50%;
    bottom: 14rem;
}

.button{
    display: inline-block;
    position: relative;
    left: 50%;
    bottom: 12rem;
}

.btn{
    padding: 15px;
    border: 2px solid #182343;
    color: #182343;
    border-radius: 6px;
}

.btn:hover{
    background-color: #182343;
    color: white;
}

.social{
    font-size: 1.5rem;
    /* transition: 0.2s ease-in-out; */
    position: relative;
    top: 2rem;
}

#L{
    position: relative;
    left: 16%;
}

#G{
    position: relative;
    left: 45%;
}